body {
    margin: 0;
    background-color: black;
}

.coming-soon {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.com {
    color: white;
    font-size: 100px;
    font-weight: bold;
}
